body{
font-family: 'Poppins', sans-serif;;
    background-color: grey;
}

.home-header_video-bg {
    /*position: fixed;*/
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
ul { 
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 100%;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    transition:.9s;
    background-color: rgb(224, 130, 22);
}
.left{
    background-color:rgb(104, 95, 79, 0.58);
    color: white;
    display: flex;
    text-align: left;
    position: absolute;
    top: 120px;
    max-width: 50%;
}
.right{
    display: inline;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    align-items: flex-end;
    /*transform: translate(-50%, -50%);*/
}
#dex{
text-align:center;
}